* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.player-ship {
  position: relative;
  transform: translate(-50%, -50%);
  height: 85px;
  width: 85px;
  transition: .10s ease-out;
  z-index: 2;
}

.moving {
  filter: blur(0.5px);
}

.moving-top {
  transform: translate(-50%, -50%) skewY(-12deg, 20deg);
  margin-top: 10px;
}

.moving-bottom {
  margin-bottom: 5px;
}

.moving-right {
  transform: translate(-50%, -50%) scale(0.94) skew(-12deg, 20deg);
  margin-right: 5px;
}

.moving-left {
  transform: translate(-50%, -50%) scale(0.94) skew(12deg, -20deg);
  margin-left: 5px;
}

.bullet {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 98, 50);
  position: absolute;
  z-index: 1;
}